:root {
  @include spread-map($theme-map-colors-main);
  max-width: 800px;
  margin: auto;
}

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, h4 {
  margin-top: 12px;
  margin-bottom: 12px;
}