// Color tokens reflected from the tokens in figma
// -----------------------------------------------------------------------------

// BACKGROUND
$--background-base: --background-base;
$--background-primary: --background-primary;
$--background-secondary: --background-secondary;
$--background-alternative: --background-alternative;
$--background-notification-success: --background-notification-success;

// TEXT
$--text-base: --text-base;
$--text-alternate: --text-alternate;
$--text-shade: --text-shade;
$--text-tertiary: --text-tertiary;
$--text-inverted: --text-inverted;
$--text-tint: --text-tint;
$--text-error: --text-error;
$--text-success: --text-success;
$--text-disabled: --text-disabled;
$--text-meta: --text-meta;

// BUTTONS
$--button-enabled-primary: --button-enabled-primary;
$--button-enabled-secondary: --button-enabled-secondary;
$--button-disabled: --button-disabled;
$--button-hover: --button-hover;
$--button-pressed: --button-pressed;
$--button-primary-text: --button-primary-text;
$--button-primary-text-disabled: --button-primary-text-disabled;
$--button-secondary-text: --button-secondary-text;
$--button-secondary-border: --button-secondary-border;
$--button-secondary-border-disabled: --button-secondary-border-disabled;
$--button-secondary-border-hover: --button-secondary-border-hover;
$--button-secondary-border-pressed: --button-secondary-border-pressed;
$--button-tertiary-text: --button-tertiary-text;

// Not in FIGMA
$--button-secondary-hover: --button-secondary-hover;
$--button-secondary-pressed: --button-secondary-pressed;

// FIELDS
$--field-enabled: --field-enabled;
$--field-disabled: --field-disabled;
$--field-focused: --field-focused;
$--field-error: --field-error;
$--field-success: --field-successs;

// UI
$--ui-enabled: --ui-enabled;
$--ui-disabled: --ui-disabled;
$--ui-shade: --ui-shade;
$--ui-tint: --ui-tint;
$--ui-tint-shade: --ui-tint-shade;

// GENERAL
$--ui-separator: --ui-separator;
$--ui-modal-background-overlay: --ui-modal-background-overlay;
$--ui-overlay-transparent: --ui-overlay--transparent;
$--ui-overlay-opaque: --ui-overlay--opaque;

// BORDER
$--border-base: --border-base;
$--border-primary: --border-primary;
$--border-secondary: --border-secondary;
$--border-selected: --border-selected;

// ICONS
$--icon-tertiary: --icon-tertiary;
$--icon-tint: --icon-tint;
